<html>
    <head>
        <title>Index.ejs</title>
    </head>

    <body>
        <%=msg%> <br>
        아이디 : <%=id%>
        비밀번호 : <%=pw%>
        이름 : <%=name%>
        나이 : <%=age%>
    </body>
</html>